In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#libraries
df=pd.read_csv('cars.csv')
#name of dataset
print(df)

                        car_name  reviews_count fuel_type  \
0                Maruti Alto K10             51    Petrol
1                  Maruti Brezza             86    Petrol
2                  Mahindra Thar            242    Diesel
3                Mahindra XUV700            313    Diesel
4             Mahindra Scorpio-N            107    Diesel
..                           ...            ...       ...
198     Mercedes-Benz AMG A 45 S             35    Petrol
199  BMW 3 Series Gran Limousine              3    Petrol
200               MG Hector Plus              2    Diesel
201                   Audi RS Q8              9    Petrol
202         Maruti Alto 800 tour              4    Petrol

     engine_displacement  no_cylinder  seating_capacity transmission_type  \
0                    998            3               5.0         Automatic
1                   1462            4               5.0         Automatic
2                   2184            4               4.0         Automatic
3                   2198            4               7.0         Automatic
4                   2198            4               7.0         Automatic
..                   ...          ...               ...               ...
198                 1991            4               5.0         Automatic
199                 1998            4               5.0         Automatic
200                 1956            4               7.0            Manual
201                 3998            8               5.0         Automatic
202                  796            3               5.0            Manual

     fuel_tank_capacity  body_type  rating  starting_price  ending_price  \
0                  27.0  Hatchback     4.5          399000        583000
1                  48.0        SUV     4.5          799000       1396000
2                  57.0        SUV     4.5         1353000       1603000
3                  60.0        SUV     4.5         1318000       2458000
4                  57.0        SUV     4.5         1199000       2390000
..                  ...        ...     ...             ...           ...
198                 0.0  Hatchback     4.5          659000        999000
199                59.0      Sedan     4.5         1041000       1041000
200                60.0        SUV     4.5         1615000       2075000
201                85.0        SUV     3.5        21700000      21700000
202                35.0  Hatchback     4.5          391000        397000

     max_torque_nm  max_torque_rpm  max_power_bhp  max_power_rp
0             89.0            3500          65.71          5500
1            136.8            4400         101.65          6000
2            300.0            2800         130.00          3750
3            450.0            2800         182.38          3500
4            400.0            2750         172.45          3500
..             ...             ...            ...           ...
198          500.0            5250         415.71          6750
199          400.0            4400         254.79          5000
200          350.0            2500         167.67          3750
201          800.0            4500         591.39          6000
202           69.0            3500          47.33          6000

[203 rows x 16 columns]

In [2]:
df.describe()

,reviews_count,engine_displacement,no_cylinder,seating_capacity,fuel_tank_capacity,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
count,203.000000,203.000000,203.000000,202.000000,203.000000,203.000000,2.030000e+02,2.030000e+02,203.000000,203.000000,203.000000,203.000000
mean,118.684729,2305.921182,4.709360,5.014851,46.143842,4.433498,9.443640e+06,1.112005e+07,402.804828,3346.507389,266.576995,4790.147783
std,314.331318,1493.837786,2.538664,1.161050,28.904207,0.280136,1.357035e+07,1.551746e+07,237.116638,1594.960077,193.474807,1990.876835
min,1.000000,0.000000,0.000000,2.000000,0.000000,3.000000,3.390000e+05,3.610000e+05,16.100000,0.000000,10.800000,0.000000
25%,5.000000,1339.500000,4.000000,5.000000,33.500000,4.500000,9.455000e+05,1.407500e+06,201.000000,2500.000000,108.555000,3800.000000
50%,14.000000,1991.000000,4.000000,5.000000,50.000000,4.500000,4.312000e+06,4.600000e+06,360.000000,3500.000000,187.740000,5500.000000
75%,83.000000,2996.000000,6.000000,5.000000,66.000000,4.500000,1.160000e+07,1.575000e+07,590.000000,4500.000000,384.870000,6000.000000
max,2392.000000,6750.000000,12.000000,8.000000,100.000000,5.000000,7.060000e+07,9.000000e+07,1020.000000,7000.000000,788.520000,8500.000000

In [3]:
df.info()
#getting schema

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203 entries, 0 to 202
Data columns (total 16 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   car_name             203 non-null    object
 1   reviews_count        203 non-null    int64
 2   fuel_type            203 non-null    object
 3   engine_displacement  203 non-null    int64
 4   no_cylinder          203 non-null    int64
 5   seating_capacity     202 non-null    float64
 6   transmission_type    203 non-null    object
 7   fuel_tank_capacity   203 non-null    float64
 8   body_type            203 non-null    object
 9   rating               203 non-null    float64
 10  starting_price       203 non-null    int64
 11  ending_price         203 non-null    int64
 12  max_torque_nm        203 non-null    float64
 13  max_torque_rpm       203 non-null    int64
 14  max_power_bhp        203 non-null    float64
 15  max_power_rp         203 non-null    int64
dtypes: float64(5), int64(7), object(4)
memory usage: 22.3+ KB

In [4]:
df.head()
#displaying initial values

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

In [5]:
df.isnull().sum()

car_name               0
reviews_count          0
fuel_type              0
engine_displacement    0
no_cylinder            0
seating_capacity       1
transmission_type      0
fuel_tank_capacity     0
body_type              0
rating                 0
starting_price         0
ending_price           0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
dtype: int64

In [6]:
#to replace missing values
data1=df.fillna(method="ffill")

In [7]:
data1.isnull().sum()
#checking replaced values

car_name               0
reviews_count          0
fuel_type              0
engine_displacement    0
no_cylinder            0
seating_capacity       0
transmission_type      0
fuel_tank_capacity     0
body_type              0
rating                 0
starting_price         0
ending_price           0
max_torque_nm          0
max_torque_rpm         0
max_power_bhp          0
max_power_rp           0
dtype: int64

In [8]:
#reducing garbage
cols=['reviews_count','engine_displacement','no_cylinder','seating_capacity','transmission_type','fuel_tank_capacity','rating','body_type','max_torque_nm','max_torque_rpm','max_power_bhp']
df = df.drop(cols, axis=1)

In [9]:
print(df)

                        car_name fuel_type  starting_price  ending_price  \
0                Maruti Alto K10    Petrol          399000        583000
1                  Maruti Brezza    Petrol          799000       1396000
2                  Mahindra Thar    Diesel         1353000       1603000
3                Mahindra XUV700    Diesel         1318000       2458000
4             Mahindra Scorpio-N    Diesel         1199000       2390000
..                           ...       ...             ...           ...
198     Mercedes-Benz AMG A 45 S    Petrol          659000        999000
199  BMW 3 Series Gran Limousine    Petrol         1041000       1041000
200               MG Hector Plus    Diesel         1615000       2075000
201                   Audi RS Q8    Petrol        21700000      21700000
202         Maruti Alto 800 tour    Petrol          391000        397000

     max_power_rp
0            5500
1            6000
2            3750
3            3500
4            3500
..            ...
198          6750
199          5000
200          3750
201          6000
202          6000

[203 rows x 5 columns]

In [10]:
data1.head()

,car_name,reviews_count,fuel_type,engine_displacement,no_cylinder,seating_capacity,transmission_type,fuel_tank_capacity,body_type,rating,starting_price,ending_price,max_torque_nm,max_torque_rpm,max_power_bhp,max_power_rp
0,Maruti Alto K10,51,Petrol,998,3,5.0,Automatic,27.0,Hatchback,4.5,399000,583000,89.0,3500,65.71,5500
1,Maruti Brezza,86,Petrol,1462,4,5.0,Automatic,48.0,SUV,4.5,799000,1396000,136.8,4400,101.65,6000
2,Mahindra Thar,242,Diesel,2184,4,4.0,Automatic,57.0,SUV,4.5,1353000,1603000,300.0,2800,130.00,3750
3,Mahindra XUV700,313,Diesel,2198,4,7.0,Automatic,60.0,SUV,4.5,1318000,2458000,450.0,2800,182.38,3500
4,Mahindra Scorpio-N,107,Diesel,2198,4,7.0,Automatic,57.0,SUV,4.5,1199000,2390000,400.0,2750,172.45,3500

In [12]:
dummy=pd.get_dummies(data1['fuel_type'])
dummy

     CNG  Diesel  Electric  Petrol
0      0       0         0       1
1      0       0         0       1
2      0       1         0       0
3      0       1         0       0
4      0       1         0       0
..   ...     ...       ...     ...
198    0       0         0       1
199    0       0         0       1
200    0       1         0       0
201    0       0         0       1
202    0       0         0       1

[203 rows x 4 columns]

In [1]:
df.hist()

<class 'NameError'>: name 'df' is not defined